.facets-bubble{
	background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.arrow {
    border-style: solid;
    position: absolute;
}
 
.top {
	width: 0; 
	height: 0; 
	border-top:  10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	margin-top: 3px

}

/*random comment */