.facets-bubble{
	background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.facets-bubble hr {
	margin-bottom: 0;
}

.facets-bubble h3 {
	padding-left: 10px;
}

.arrow {
    border-style: solid;
    position: absolute;
}
 
.uparrow {
	width: 0; 
	height: 0; 
	border-top:  10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	margin-top: 3px

}

img {
	width: 100%;
}

#map {
	height: 100%;
}

.em{
	height: 2em;
	width: 2em;
}
/*random comment */